name: Newspic Auto Bot
on:
  schedule:
    - cron: '0 * * * *' # 매시간 정시 실행
  workflow_dispatch:    # 수동 실행 버튼 활성화

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: pip install requests beautifulsoup4
      - name: Run main.py
        env:
          KAKAO_CODE: ${{ secrets.KAKAO_CODE }}
        run: python main.py
